{% extends "../../store/base.html" %} 
{% load static %} 
{% block title %}Users Wish List{% endblock %}
{% block content %}

<div id="loader-wrapper">
  <div id="loader">
      <h1 style="color: orangered;" class="bud">Welcome!!!</h1>
      <i style="color: orangered; font-size:100px;" class="fa fa-cog"></i>
  </div>
  <div class="loader-section section-left">
      <marquee direction="left">
          <h1 style="color: rgb(18, 139, 238);">You are Welcome here @
              <span style="color: orangered;"><b> engisolE-commerceStore </b> </span> 
          </h1>
      </marquee>
  </div>
  <div class="loader-section section-right">
      <marquee direction="right">
          <h1 style="color: rgb(18, 139, 238);">Your most efficient fastest and user friendly
              <span style="color: orangered;"><b> E-commerceStore </b> </span> 
          </h1>
      </marquee>
  </div>
</div>

<main class="pt-5">
<div class="col-12 mx-auto">
  <h1 class="h3">My Wishlist</h1>
  <div>Manage your Wishlist</div>
  <hr />

  {% if wishlist %}
  {% for product in wishlist  %}

  <div class="des card mb-3 rounded-0">
    <div class="des row g-0">
      <div class="des col-md-2">
        {% for image in product.product_image.all  %}
          {% if image.is_feature %}
          <img class="img-fluid d-block p-2" width="135px" src="{{ image.image.url }}"
            alt="{{ image.image.alt_text }}" />
          {% else %}
          <img class="img-fluid d-block p-2" width="85px" src="{{ image.image.url }}"
            alt="{{ image.image.alt_text }}" />
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-muted">{{product.regular_price}}</small></p>
          <a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'account:user_wishlist' product.id %}">Remove from Wishlist</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  {% else %}
  <p class="card-text">No products have been added to your wishlist yet <a href="{% url 'store:product_all' %}">Go back if you wanna add, thanks</a></p>
  {% endif %}



</div>
</main>

<script>
  $(document).ready(function() {

    setTimeout(function() {
        $('body').addClass('loaded');
    }, 5000);
  
  });

  //light/dark mode theme
document.querySelector('.checkbox').addEventListener('change',()=>{
  document.querySelectorAll('body').forEach(ele=>{
    ele.classList.toggle('night');
  })
  document.querySelectorAll('.des').forEach(ele=>{
      ele.classList.toggle('night');
    })
});


</script>
{% endblock %}